<div class="dateTime">
  <div for="date-time-picker" *ngIf="!isGridComponent" class="label" position="stacked">{{label}}<span  class="errorrequired" *ngIf="required === 'Y'">*</span></div>
  <ion-datetime name="date-time-picker"  [class]="dateControlClass" [(ngModel)]="value" (ionChange)="setDateValue($event)"></ion-datetime>
  <div *ngIf="errormgvisible" class="error-msg">{{customErrorMsg}}</div>
</div>
