.dateTime{
    padding: 2%;
    border: 1px solid cyan;
    margin: 20px;
    border-radius: 10px;
    background-color: #388dd2;
    .label{
        font-weight: bold;
        font-size: 15px;
        color: white;
        min-height: fit-content;
        padding: 1%;
        .errorrequired {
            color: red;
            font-size: small;
          }
    }
    .error-msg{
        color: red;
        font-size: 18px;
    }
    .input-wrapper{
        background-color: white;
        border-radius: 5px;
        color: black;
    }
    .marginTop{
        margin-top: 20px;
    }
}

