<div class="multiselect-parent" *ngIf="!isGridComponent">
  <div class="label">
    <ion-label>{{ label}} <span  class="errorrequired" *ngIf="required === 'Y'">*</span></ion-label>
  </div>

    <ion-select   multiple="true" class="checkbox-parent" (ionChange)="onCheckboxChange($event)">
      <ion-select-option *ngFor="let opt of options" value="{{opt.value}}" >{{opt.value}}</ion-select-option>
    </ion-select>

  <div role="alert" tabindex="0" class="error-msg"  *ngIf="displayError">
    <p class="mb-0">Please select "{{label}}"</p>
  </div>
</div>