<ion-list class="drop-down-parent">
  <ion-label class="label" *ngIf="!isGridComponent">{{label}}<span  class="errorrequired" *ngIf="required === 'Y'">*</span></ion-label>
<ion-select class="dropdown" name="combo" #comboElement #comboElementModel="ngModel" [(ngModel)]="value" placeholder="Select" (ionChange)="setValue($event)">
  <ion-select-option class="options" *ngFor="let opt of options"  value="{{opt.value}}">{{opt.value}}</ion-select-option>
</ion-select>
</ion-list>