<ion-header class="survey-header-parent">
  <div class="survey-header">
      <ion-title>Confirm Dialog</ion-title>
      <ion-button  class="close-btn" (click)="dismiss()" fill="white">Close</ion-button>
  </div>
</ion-header>
  <div class="survey-details-wrapper">
    <ion-label class="survey-details-key">Do you want to enable finger print Service?</ion-label>
   
    <div class="survey-btn-wrapper">
      <ion-button class="survey-details-button" (click)="SaveUserdetails()" fill="#388dd2">Yes</ion-button>
     
      <ion-button class="survey-details-button" (click)="dismiss()" fill="#388dd2">No</ion-button>
      
    </div>
  </div>
  
