.list-md{
  background-color: #388dd2;
  padding:0;
}
.survey-header-parent{
  .survey-header{
      background-color: #0e395d; 
      box-shadow: 0 4px 8px 0  #000000, 0 6px 10px 0  #188dee ;
      display: flex;
      flex-direction: row;
      color: white;
      align-items: center;
      height: 60px;
      margin-bottom: 2px;
      .close-btn{
          margin-right: 20px;
          color: black;
      }
  }
}

.survey-details-wrapper{
    height: 100%;
    width: 100%;
    background-color: #388dd2;
    padding: 10%;
    .survey-details-key{
      width: 100%;
      color: white;
    }
      .survey-btn-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        button{
          background-color: #388dd2;
        }
      }
    
}