<ion-header [translucent]="true" class="header">
  <div class="header-toolbar">
   <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign up</ion-title>
</div>
</ion-header>
<ion-content padding class="body-parent">
 <form class="body">
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input [(ngModel)]="fname" type="text" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input [(ngModel)]="lname" type="text" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="text" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">User Name</ion-label>
      <ion-input [(ngModel)]="username" type="text" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="text" [ngModelOptions]="{standalone: true}" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="button"  [color]="primary" class="signup-button"  (click)="SignUp()">Save</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>