.header{
    .header-toolbar{
        display: flex;
        flex-direction: row;
        width:100%;
        background-color: #0e395d;
        box-shadow: 0 4px 8px 0  #000000, 0 6px 10px 0  #188dee ;
        color: white;
        align-items: center;
        padding: 1%;
    }
}

.body-parent{
   // background-color:#388dd2;
    .body{
        height:100%;
  //      background-color: #388dd2;
    }
    .signup-button{
        padding-left: 40%;
        align-content: center;
    }
}