 <div class="checkbox-parent">
    <div *ngIf="!isGridComponent" class="label">
      <ion-label >{{ label}} 
      <span  class="errorrequired" *ngIf="required === 'Y'">*</span>
      </ion-label>
    
    </div>
    <ion-list>
      <ion-item *ngFor="let opt of options">
        <ion-label>{{opt.value}}</ion-label>  
        <ion-checkbox  value="{{opt.value}}" (ionChange)="onCheckboxChange($event)"></ion-checkbox>
      </ion-item>
    </ion-list>
    
    <div role="alert" tabindex="0" class="error-msg"  *ngIf="displayError">
      <p class="mb-0">Please select "{{label}}"</p>
    </div>
  </div>