.error-msg {
  color: red;
}
.errorrequired {
color: red;
font-size: small;
}
.label{
font-weight: bold;
font-size: 15px;
color: white;
min-height: fit-content;
padding: 1%;
}
.checkbox-parent{
  padding: 2%;
  border: 1px solid cyan;
  margin: 20px;
  border-radius: 10px;
  background-color: #388dd2;
}