<ion-header [translucent]="true" class="login-header">
  <div class="login-header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </div>
</ion-header>

<ion-content class="login-container">
  <ion-grid class="login-body-parent">
    <form class="login-body">

      <ion-row>
        <ion-item class="login-body-email">
          <ion-label position="floating" class="login-body-password">Email</ion-label>
          <ion-input class="email input-text-labeldesign login-body-password" [(ngModel)]="email" type="text"
            [ngModelOptions]="{standalone: true}" required></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item class="login-body-password">
          <ion-label position="floating" class="login-body-password">Password</ion-label>
          <ion-input class="password input-text-labeldesign login-body-password" [(ngModel)]="password" type="password"
            [ngModelOptions]="{standalone: true}" required></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="login-body-btn">
        <ion-col>
          <ion-button type="button" expand="block" [color]="primary" (click)="OnLogin()">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button type="button" expand="small" [color]="primary" (click)="UseBiometric()">


            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="35" height="40" x="0" y="0"
              viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
              <g>
                <defs xmlns="http://www.w3.org/2000/svg">
                  <linearGradient id="linear-gradient" x1="336" y1="-114.304" x2="336" y2="576.307"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-opacity="1" stop-color="#ff91d2" offset="0" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.003861003861003861" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.003861003861003861" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.007722007722007722" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.015444015444015444" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.02702702702702703" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.02702702702702703" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.03861003861003861" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.06563706563706563" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.07722007722007722" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.10038610038610038" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.14285714285714285" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.24324324324324326" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.24324324324324326" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.2471042471042471" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.25868725868725867" />
                    <stop stop-opacity="1" stop-color="#f68bd9" offset="0.262" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.2625482625482625" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.26640926640926643" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.26640926640926643" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.26640926640926643" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.2702702702702703" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.277992277992278" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.277992277992278" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.277992277992278" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.277992277992278" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.28957528957528955" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.3166023166023166" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.444015444015444" />
                    <stop stop-opacity="1" stop-color="#f9f8f8" offset="0.637065637065637" />
                    <stop stop-opacity="1" stop-color="#fbfafb" offset="0.6872586872586872" />
                    <stop stop-opacity="1" stop-color="#f9f8f8" offset="0.7142857142857143" />
                    <stop stop-opacity="1" stop-color="#f9f8f8" offset="0.999" />
                  </linearGradient>
                  <linearGradient xmlns:xlink="http://www.w3.org/1999/xlink" id="linear-gradient-3" x1="168.24"
                    y1="-114.304" x2="168.24" y2="576.307" xlink:href="#linear-gradient" />
                  <linearGradient xmlns:xlink="http://www.w3.org/1999/xlink" id="linear-gradient-5" x1="168"
                    y1="-114.304" x2="168" y2="576.307" xlink:href="#linear-gradient" />
                </defs>
                <g xmlns="http://www.w3.org/2000/svg" id="_04_copy_7" data-name="04 copy 7">
                  <g>
                    <path
                      d="M336,160a32.036,32.036,0,0,0-32,32v36.676a12.059,12.059,0,0,0,5.826,10.29l20,12a11.98,11.98,0,0,0,12.348,0l20-12A12.059,12.059,0,0,0,368,228.676V192A32.036,32.036,0,0,0,336,160Z"
                      style="fill:url(#linear-gradient)" fill="" />
                    <path
                      d="M354.282,262.36l-3.876,2.326a27.948,27.948,0,0,1-28.812,0l-3.876-2.326-.566,3.391a19.108,19.108,0,1,0,37.7,0Z"
                      style="fill:url(#linear-gradient)" fill="" />
                    <g>
                      <path
                        d="M192,240a143.978,143.978,0,0,1,64-119.68V66a2,2,0,0,0-2-2H227.313L213.657,77.657A8,8,0,0,1,208,80H128a8,8,0,0,1-5.657-2.343L108.687,64H82a2,2,0,0,0-2,2V414a2,2,0,0,0,2,2H254a2,2,0,0,0,2-2V360h.479A143.986,143.986,0,0,1,192,240ZM96,104a8,8,0,0,1,8-8h24v16H112v16H96Zm16,296H96V384h16Zm24,0a40.045,40.045,0,0,0-40-40V344a56.063,56.063,0,0,1,56,56Zm32,0a72.081,72.081,0,0,0-72-72V312a88.1,88.1,0,0,1,88,88Zm32,0A104.118,104.118,0,0,0,96,296V280A120.136,120.136,0,0,1,216,400Z"
                        style="fill:url(#linear-gradient-3)" fill="" />
                      <path
                        d="M336,112A128,128,0,1,0,464,240,128.145,128.145,0,0,0,336,112Zm-88,48a8,8,0,0,1,8-8h24v16H264v16H248Zm32,168H256a8,8,0,0,1-8-8V296h16v16h16Zm82.788-36.415a35.113,35.113,0,0,1-61.674-18.713l-32.676,21.784-8.876-13.312L302.1,252.988l-.5-.3A28.141,28.141,0,0,1,288,228.676V192a48,48,0,0,1,96,0v36.676a28.141,28.141,0,0,1-13.594,24.01l-.5.3,42.535,28.356-8.876,13.312-32.676-21.784A35.055,35.055,0,0,1,362.788,291.585ZM424,320a8,8,0,0,1-8,8H392V312h16V296h16Zm0-136H408V168H392V152h24a8,8,0,0,1,8,8Z"
                        style="fill:url(#linear-gradient)" fill="" />
                    </g>
                    <path
                      d="M288,104.226V48a16,16,0,0,0-16-16H64A16,16,0,0,0,48,48V464a16,16,0,0,0,16,16H272a16,16,0,0,0,16-16V375.774a143,143,0,0,1-16-6.793V414a18,18,0,0,1-18,18H82a18,18,0,0,1-18-18V66A18,18,0,0,1,82,48h30a8,8,0,0,1,5.657,2.343L131.313,64h73.374l13.656-13.657A8,8,0,0,1,224,48h30a18,18,0,0,1,18,18v45.019A143,143,0,0,1,288,104.226ZM136,448h64v16H136Z"
                      style="fill:url(#linear-gradient-5)" fill="" />
                  </g>
                </g>
              </g>
            </svg>

          </ion-button>
          <!--   <icon src="../../assets/icon/FingerprintFaceID.svg" (click)="UseBiometric()" width="57" height="57" density="mdpi" />-->
        </ion-col>
      </ion-row>
      <!-- <ion-row class="login-body-btn">
          <ion-col>
            <ion-button type="button"  color="light" expand="block"  (click)="onSignUp()">Sign Up</ion-button>
            </ion-col>
        </ion-row>
        -->
    </form>
    <ion-row>
      <ion-img src="../../assets/Images/Background Image - Cut Off@2x.png" style="padding-top:30%;height:15%"></ion-img>
    </ion-row>
  </ion-grid>

</ion-content>