.login-header{
    .login-header-toolbar{
        display: flex;
        flex-direction: row;
        width:100%;
        background-color: #0e395d;
        box-shadow: 0 4px 8px 0  #000000, 0 6px 10px 0  #188dee ;
        color: white;
        align-items: center;
        padding: 1%;
    }
}

.input-text-labeldesign {
    width: 99%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
    border: none;
    /*background: #f2f2f2;*/
    font-size: small;
    font: menu;
    /*FONT-WEIGHT: 700;
    color: grey;*/
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    height: 35px;
    outline-width: 0;
  }
.login-body-parent{
    background-color:white;
    width:90%;
    
    .login-body{
        height:100%;
       
        padding: 1%;
         border: 1px solid   #0f6bc1;;
          margin: 20px;
          border-radius: 10px;
        .login-body-email{
            //padding-left: 10%;
            width:90%;
            //align-content: center;
        }
        .login-body-password{
           // padding-left: 10%;
            width:90%;
            //align-content: center;
        }
        .login-body-btn{
            padding-left: 30%;
            width: 53%;
            align-content: center;
        }
    }
}
.login-container { 
    border-radius: 0px;
    border-color: #cccccc;
    border: 1.5px solid #cccccc;
    padding: 30px;
    margin: 0 auto;
    margin-top: 40px;
    overflow:hidden;
    background: white;
  }
  .h2-reister {
    color: black;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: #0f6bc1;
    font-size: xx-large;
  }
 