<!--<div *ngIf="showName" [ngStyle]="{'color': foregroundcolor}" id="question">
  <span style="font-size: 35px;">{{questionIndex}}</span> <span style="font-size:medium"> of {{totalQuestion}} </span><span style="margin-left: 40px;">{{question.questionText}}</span><span class="errorrequired" *ngIf="question.isQuestionRequired==='Y'">*</span></div>
<br />
-->
<ion-grid class="rating-parent">
  <ion-row *ngIf="!isGridComponent">  
    
    <ion-col col-size="3">
              {{question.initialText}}
    </ion-col>
    
     <ion-col *ngFor="let num of ((getNumbers-6) | numbersPipe); let i = index"> &nbsp;</ion-col>
    <ion-col col-size="3"> 
            {{question.finalText}}
   </ion-col>
    
    </ion-row>
   <ion-row> 
   
    <ion-col (click)="updateValue(i + 1)"
    *ngFor="let num of (getNumbers | numbersPipe); let i = index"> 
      <ion-button  [color]="(question.rating == (i + 1))?'secondary':'light'" >{{i+1}}</ion-button>
    </ion-col> <!--[ngClass]="(question.rating == (i + 1))?'selected':'unselected'" [style.background-color] ="controlBGColor"  [ngClass]="(question.rating == (i + 1))?'selected':'unselected'"-->
     
    
  </ion-row> 
</ion-grid>
 