.rating-parent{
  padding: 2%;
  border: 1px solid cyan;
  margin: 20px;
  border-radius: 10px;
  background-color: #388dd2;
}

.error-msg {
  color: red;
}
.errorrequired {
color: red;
font-size: small;
}
.unselected{
color: transparent !important;
background: #fff !important;
}

.Theme1{

&:hover, &.selected {
 background: rgb(22, 47, 41) !important;
 color: #fff !important;
}
}
.Theme2{
&:hover, &.selected {
 background: rgb(40, 44, 177) !important;
 color: #fff !important;
}
}

.Theme3 {
&:hover, &.selected {
 background:  rgb(46, 144, 163) !important;
 color: white !important;
}
}
.selected {
background:  rgb(46, 144, 163) !important;
color: white !important;
}
.unselected{

background: white !important;
color: black!important;
}

.content-text {
position: relative;
top: 0px;
font-size: large;
&:last-child {
  right: 2%;
}
}