<div class="text-parent">
  <div class="text-wrapper">
            
      <div class="label" *ngIf="!isGridComponent">
        <ion-label class="label-data">{{ label}} <span  class="errorrequired" *ngIf="required === 'Y'">*</span></ion-label>
      </div>
      <div class="input-wrapper" *ngIf="question.inputType === 'txb'">
        <ion-input #inputElement #inputElementModel="ngModel" name="inputText" [placeholder]="placeholder"
          [(ngModel)]="value" [minlength]="minlength" [maxlength]="question.maxLength" [required]="required"
          [pattern]="pattern" [ngClass]="className" (keyup)="textfieldKeyUpHandler($event)">
        </ion-input>
        <div class="custom-error" [ngClass]="{'show':!result['validationStatus'], 'hide':result['validationStatus']}" *ngFor="let errorMsg of result['error']">
          <span>{{errorMsg}}</span>
        </div>

      </div>
      <div *ngIf="question.inputType === 'txa'">
        <ion-textarea class="input-wrapper" #inputElement #inputElementModel="ngModel" name="inputText" [placeholder]="placeholder"
          [(ngModel)]="value" [minlength]="minlength" [maxlength]="question.maxLength" [required]="required"
          [pattern]="pattern" [ngClass]="className" (keyup)="textfieldKeyUpHandler($event)">
        </ion-textarea>
        <div class="custom-error" [ngClass]="{'show':!result['validationStatus'], 'hide':result['validationStatus']}" *ngFor="let errorMsg of result['error']">
          <span>{{errorMsg}}</span>
        </div>
      </div>
  </div>
</div>