 .text-parent{
    padding: 2%;
    border: 1px solid cyan;
    margin: 20px;
    border-radius: 10px;
    background-color: #388dd2;
    display: flex;
    flex-direction: column;
    .text-wrapper{
        width: 100%;
        padding: 0;
        .error-msg {
            color: red;
        }
        .label{
            font-weight: bold;
            font-size: 15px;
            color: white;
            display: flex;
            align-items: center;
            padding-left: 12px;
            background-color: #388dd2;
            width: 100%;
            min-height: fit-content;
            padding: 1%;
            .errorrequired {
                color: red;
                font-size: small;
              }
        }
        .input-wrapper{
            width: 100%;
            min-height: 50px;
            background-color: white;
            border-radius: 5px;
            color: black;
            padding: 1%;
            display: flex;
            flex-direction: column;
            .custom-error-txa{
                color: red;
                padding: 1%;
                display: none;
                &.show{
                    display: block;
                }
                &.hide{
                    display: none;
                }
            }
        }
        .custom-error{
            color: red;
            padding: 1%;
            display: none;
            &.show{
                display: block;
            }
            &.hide{
                display: none;
            }
        }
    }
 }

