.left-panel-parent{
  
  .left-panel-menu-wrapper{
    .left-panel-menu{
      .geolocation-wrapper{
        height: 50px;
        display: flex;
        align-items: center;
        background-color: darkcyan;
        color: white;
        padding: 10px;
        justify-content: center;
      }
      .menu-details{
        background-color: #0e395d;
        box-shadow: 0 4px 8px 0  #000000, 0 6px 10px 0  #188dee ;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 100%;
        .site-header-parent{
          display: flex;
          flex-direction: column;
          .site-header{
            color: cyan;
            font-size: 30px;
            margin-top: 10px;
            font-weight: bold;
          }
          .site-welcome{
            color: white;
            font-size: 20px;
            margin-bottom: 10px;
            text-align: left;
            font-weight: bold;
          }
        }
        .menu-selections-wrapper{
          display: flex;
          justify-content: left;
          align-items: center;
          .menu-selections{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 10px;
            cursor: pointer;
            .label{
              margin-left: 20%;
            }
            
          }
        }
        .account-loggedIn{
          align-items: center;
          justify-content: left;
          .logout{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 10px;
            cursor: pointer;
            .label{
              margin-left: 20%;
            }
          }
        }
      }

    }
  }
}