<ion-app>
  <ion-split-pane class="left-panel-parent" contentId="main-content">
    <ion-menu  class="left-panel-menu-wrapper" contentId="main-content" type="overlay">
      <ion-content class="left-panel-menu">
        <div class="geolocation-wrapper" id="geolocation">Watching geolocation...</div>
        <ion-list id="inbox-list" *ngIf="isUserLoggedIn" class="menu-details">
          <div class="site-header-parent">
            <p class="site-header">HealthSlice</p>
            <p class="site-welcome"> {{ WelcomeNote }}</p>
          </div>          
          <ion-menu-toggle class="menu-selections-wrapper" auto-hide="false" *ngFor="let p of appPages; let i = index">
            <div class="menu-selections" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <p class="label">{{ p.title }}</p>
            </div>
          </ion-menu-toggle>

          <div lines="none" *ngIf="isUserLoggedIn" class="account-loggedIn">
              <div class= "logout" button (click)="Logout()" detail="false">
                <ion-icon slot="start" name="hammer"></ion-icon>
                <p class="label">Logout</p>
              </div>
            </div>
        </ion-list>
        <ion-list lines="none" *ngIf="!isUserLoggedIn" class="menu-details">
          <div class="site-header-parent">
            <p class="site-header">HealthSlice</p>
            <p class="site-welcome"> {{ WelcomeNote }}</p>
          </div>   
          <ion-menu-toggle class="menu-selections-wrapper" auto-hide="false" *ngFor="let p of logginPages; let i = index">
            <div  class="menu-selections" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <p class="label">{{ p.title }}</p>
            </div>
          </ion-menu-toggle>

        </ion-list>




      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
