.list-md {
    background-color: none;
}
.radio-parent{
    padding: 2%;
    border: 1px solid cyan;
    margin: 20px;
    border-radius: 10px;
    background-color: #388dd2;
    &.show{
        display: block;
    }
    &.hide{
        display: none;
    }
    .label{
        font-weight: bold;
        font-size: 15px;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 12px;
        background-color: #388dd2;
        width: 100%;
        min-height: fit-content;
        padding: 2%;
        .errorrequired {
            color: red;
            font-size: small;
          }
    }
}