<ion-list class="radio-parent">
  <ion-radio-group  name="radio" #radioElement #radioElementModel="ngModel" [(ngModel)]="value" (ionChange)="setValue($event)">
  <div class="label" *ngIf="!isGridComponent">
    <ion-label class="label-data">{{ label}}<span  class="errorrequired" *ngIf="required === 'Y'">*</span></ion-label>
    
  </div>  
    <ion-item *ngFor="let opt of options" class="radio-parent-options">
      <ion-label class="radio-label">{{ opt.value }}</ion-label>
      <ion-radio value="{{ opt.value }}"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
