.list-md{
    background-color: #388dd2;
    padding:0;
}
.survey-header-parent{
    .survey-header{
        background-color: #0e395d; 
        box-shadow: 0 4px 8px 0  #000000, 0 6px 10px 0  #188dee ;
        display: flex;
        flex-direction: row;
        color: white;
        align-items: center;
        height: 60px;
        margin-bottom: 2px;
        .close-btn{
            margin-right: 20px;
            color: black;
        }
    }
}


.survey-container{
    height:100%;
    width:100%;
    background-color: #388dd2;
    .survey-details-key-value{
        
        display: flex;
        flex-direction: column;
        align-items: left;
        background-color: #388dd2;
        height: 100%;
        .survey-details-wrapper{
            display: flex;
            flex-direction: column;
            align-items: left;
            margin-top: 100px;
            padding : 2%;
            .survey-details-key{
                margin-right: 1rem;
                font-weight: bold;
                font-size: 20px;
                color: white;
                margin-bottom: 10px;
            }
            .survey-details-value{
                color: white;
                margin-bottom: 20px;
            }
            .survey-details-key2{
                margin-right: 1rem;
                font-size: 20px;
                font-weight: bold;
                color: white;
                margin-bottom: 10px;
            }
            .survey-details-value2{
                color: white;
                margin-bottom: 20px;
            }
            .survey-btn-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-top: 2rem;
                .survey-details-button{
                    color: rgb(0, 16, 39);
                    margin-right: 1%;
                }
            }
        }

    }

    .survey-details-elements-container-parent{
        height: 100%;
        background-color: #388dd2;
        .survey-details-elements-container{
            display: flex;
            flex-direction: column;
            height: 100%;
            color: black;
                .survey-details-heading{
                    padding: 4%;
                    margin-bottom: 2%;
                    display: flex;
                    flex-direction: column;
                    color: white;
                    background-color: #034b84;
                    box-shadow: 0 4px 8px 0  #000000, 0 6px 10px 0  #188dee ;
                    .survey-details-heading-wrapper1{
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        .survey-details-key{
                            //font-weight: bold;
                            font-size: 18px;
                            width: 50%;
                            padding-left: 12px;
                        }
                        .survey-details-value{
                            font-size: 15px;
                            width: 50%;
                            color: white;
                        }
                }
                .survey-details-heading-wrapper2{
                    align-items: center;
                    margin-top: 1rem;
                    display: flex;
                        flex-direction: row;
                        .survey-details-key{
                        // font-weight: bold;
                            font-size: 18px;
                            width: 50%;
                            padding-left: 12px;
                        }
                        .survey-details-value{
                            font-size: 12px;
                            width: 50%;
                        }
                }

            }
            .survey-details-parent-wrapper{
                flex: 1;
                background: none;
                box-shadow: 0 4px 8px 0  #000000, 0 6px 10px 0  #188dee ;
                .error-msg {
                    color: #720505;
                    margin-left: 20px;
                    font-size: 18px;
                }
                .survey-details-elements{
                   // background-color: #388dd2;
                   .survey-question-wrapper{
                       height: 100%;
                       width: 100%;
                   }
                }
                ion-slides{
                    height: 100%;
                    width: 100%;
                    background-color: #388dd2;
                }
                ion-slide{
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                }
            }
            
            
        }
}
}
