<ion-header class="survey-header-parent">
  <div class="survey-header">
      <ion-title>Survey</ion-title>
      <ion-button  class="close-btn" (click)="dismiss()" fill="white">Close</ion-button>
      <ion-button *ngIf = "lastSection" (click)="processNext()" fill="none" class="btn" style="color: black;margin-left: 1%; margin-right: 2%;">
        {{ lastSection ? 'Submit' : 'Next' }}
      </ion-button>
  </div>
</ion-header>
<div class="survey-container">
  <ion-content fullscreen="true">

    <!--First Page Of Survey-->

    <div *ngIf="!surveyStarted" class="survey-details-key-value">
      <div class="survey-details-wrapper">
        <ion-label class="survey-details-key">Survey Name</ion-label>
        <ion-label class="survey-details-value">{{ surveyDetail.name }}</ion-label>
        <ion-label class="survey-details-key2">Survey Description</ion-label>
        <ion-label class="survey-details-value2">{{ surveyDetail.description }}</ion-label> 
      
        <div class="survey-btn-wrapper">
          <ion-button class="survey-details-button" (click)="startSurvey()" fill="none">Start Survey</ion-button>
        </div>
      </div>
    </div>


    <form #surveyForm="ngForm" *ngIf="surveyStarted" class="survey-details-elements-container-parent">
      <div *ngIf="currentSection" class="survey-details-elements-container"  id="scrolled">
        
        <!--Survey main page heading-->

        <div class="survey-details-heading">
          <div class="survey-details-heading-wrapper1">
            <div class="survey-details-key">Section Name</div>
            <div class="survey-details-value">{{ currentSection.section.sectionName }}</div>
          </div>
          <div class="survey-details-heading-wrapper2">
            <div class="survey-details-key">Section Description</div>
            <div class="survey-details-value">{{ currentSection.section.sectionDescription }}</div>
          </div>
        </div>


        <ion-list  class="survey-details-parent-wrapper">

          <!--Error display section-->

          <div role="alert" tabindex="0" class="error-msg" *ngIf="displayFormError">
            <p class="mb-0">There is one or more error on the page</p>
          </div>

        <ion-slides pager="true" autoHeight="true"> 
             <ion-slide *ngFor="let question of currentSection.section.questions"
              class="survey-details-elements" [ngClass]="{'swiper-no-swiping': !blockSlide || (question.isQuestionRequired === 'Y' && question.defaultResponse=== '')}" >
              <div *ngIf="question.inputType === 'txa'" class="survey-question-wrapper">
                  <app-input-text #Question1 name="{{ question.questionId }}" [label]="question.questionText"
                    [required]="question.isQuestionRequired" [placeholder]="question.options[0].value"
                    [(ngModel)]="question.defaultResponse" ngDefaultControl [triggerErrorDesc]="true" [errorMessage]="{}"
                    [question]="question"></app-input-text>
                </div>
                <div *ngIf="question.inputType === 'txb'" class="survey-question-wrapper">
                  <app-input-text #Question1 name="{{ question.questionId }}" [label]="question.questionText"
                    [required]="question.isQuestionRequired" [placeholder]="question.options[0].value"
                    [(ngModel)]="question.defaultResponse" [question]="question" ngDefaultControl [triggerErrorDesc]="true"
                    [errorMessage]="{}">
                  </app-input-text>
                </div>
                <div *ngIf="question.inputType === 'rdo'" class="survey-question-wrapper">

                  <app-input-radio name="{{ question.questionId }}" [label]="question.questionText"
                    [options]="question.options" [(ngModel)]="question.defaultResponse" ngDefaultControl
                    [required]="question.isQuestionRequired" (emitValue)="SetChoiceData(question, $event)"
                    [question]="question"></app-input-radio>

                </div>
                <div *ngIf="question.inputType === 'cmb'" class="survey-question-wrapper">
                  <app-input-dropdown name="{{ question.questionId }}" [label]="question.questionText"
                    [options]="question.options" [(ngModel)]="question.defaultResponse" ngDefaultControl
                    [required]="question.isQuestionRequired" [question]="question"
                    (emitValue)="SetChoiceData(question, $event)"></app-input-dropdown>

                </div>
                <div *ngIf="question.inputType === 'mul'" class="survey-question-wrapper">
                  <app-input-multiselectcheckbox name="{{ question.questionId }}" [label]="question.questionText"
                    [options]="question.options" [(ngModel)]="question.defaultResponse"
                    [required]="question.isQuestionRequired" ngDefaultControl (emitValue)="SetChoiceData(question, $event)"
                    [question]=question></app-input-multiselectcheckbox>
                </div>
                <div *ngIf="question.inputType === 'chk'" class="survey-question-wrapper">
                  <app-input-checkbox name="{{ question.questionId }}" [label]="question.questionText"
                    [options]="question.options" [(ngModel)]="question.defaultResponse"
                    [required]="question.isQuestionRequired" ngDefaultControl (emitValue)="SetChoiceData(question, $event)"
                    [question]=question></app-input-checkbox>
                </div>
                <div *ngIf="question.inputType === 'rating'" class="survey-question-wrapper">
                  <app-rating-view [isEditing]="false" (emitValue)="SetChoiceData(question, $event)" [questionIndex]="j+1"
                    [totalQuestion]="question.length" [question]="question" [tableBorder]="tableBorder"
                    [controlBGColor]="controlBGColor" [TextColor]="TextColor" [controlBorder]="controlBorder"
                    [foregroundcolor]="foregroundcolor" [theme]="theme"></app-rating-view>

                </div>
                <div *ngIf="question.inputType === 'dte'" class="survey-question-wrapper">
                  <app-input-date name="{{ question.questionId }}" [label]="question.questionText"
                    [options]="question.options" [(ngModel)]="question.defaultResponse"
                    [required]="question.isQuestionRequired" ngDefaultControl (emitValue)="SetChoiceData(question, $event)"
                    [question]=question></app-input-date>
                </div>
                <div *ngIf="question.inputType === 'table'" class="survey-question-wrapper">
                  <div *ngFor="let grid of currentSection.section.gridQuestions; let abc=index;"> 
                      <div *ngIf="grid.sequenceNumber===question.sequenceNumber;">     
                      <app-grid  [totalQuestion]="currentSection.section.questions.length" [label]="question.questionText" [foregroundcolor]="foregroundcolor" [backgroundcolor] ="backgroundcolor" [controlBGColor]="controlBGColor" [controlBorder]="controlBorder" [tableBorder]="tableBorder" [TextColor]="TextColor" [theme]="theme" 
                      [gridQuestions]="grid"
                      [header]="grid.response[0]"></app-grid>  
                        </div> 
                    </div>
                  </div> 
            </ion-slide>
        </ion-slides>  

        </ion-list>


      </div>
    </form>
  </ion-content>
</div>
