<ion-content [fullscreen]="true" class="dashboard-body">
  <ion-header [translucent]="true" class="dashboard-header">
    <div class="dashboard-header-toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dashboard</ion-title>
    </div>
  </ion-header>
  <ion-segment  class="dashboard-body-segment" (ionChange)="segmentChanged($event)" value="{{ selectedsegment }}" padding>
    <ion-segment-button class="dashboard-body-segment-body" value="all">
      <ion-label>All Surveys</ion-label>
    </ion-segment-button>
    <ion-segment-button class="dashboard-body-segment-body" value="favourites">
      <ion-label>favourites</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-searchbar class="search" placeholder="Search Surveys" (ionInput)="filterSurveys($event)"></ion-searchbar>
  <!-- <ion-card class="dashboard-body-all-survey-tab-parent">
    <ion-card-header class="dashboard-body-all-survey-tab-desc">
      <p class="title">Test Survey</p>
      <p>Date Created: Test Date </p>
      <p>Description: Test Desc</p>
    </ion-card-header>
    <ion-footer>
      <ion-row class="footer">
        <ion-col class="center">
          <ion-button color="warning" size="small">
            <div>Surveys </div>
            <ion-badge slot="end" color="warning">2</ion-badge>
          </ion-button>
        </ion-col>
        <ion-col class="footer-like-col">
          <div class="like">
            <ion-button fill="white" class="heart"  (click)="toggleFavourite('1')">
              <ion-icon name="heart"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col class="center" (click)="presentActionSheet('1')">
          <ion-button fill="white" >
            <ion-icon name="menu" ></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
  </ion-footer>
      
  </ion-card> -->
  <ion-list style="padding: 0;">
    <ion-card class="dashboard-body-all-survey-tab-parent" *ngFor="let card of getSurveys(); let i = index">
      <ion-card-header class="dashboard-body-all-survey-tab-desc">
        <!-- <ion-card-title>Survey Group: {{ card.surveyGroupName }}</ion-card-title> -->
        <p class="title">{{ card.name }}</p>
        <p>Date Created : {{ card.createdDate | date }} </p>
        <p>Description : {{ card.description }}</p>
      </ion-card-header>
      <ion-footer >
      <div class="footer">
          <div class="footer-survey-common">
              <span class="btn">{{card.resultsCount}}</span>
          </div>
          <div class="footer-survey-common">
            <ion-button fill="white" class="heart" [ngClass]="{'toggle': card.isFavourite}"  (click)="toggleFavourite(card.surveyId)">
              <ion-icon name="heart"></ion-icon>
            </ion-button>
          </div>
          <ion-button class="footer-survey-common" fill="white" (click)="presentActionSheet(card.surveyId)">
            <ion-icon name="menu"></ion-icon>
          </ion-button>
      </div>
    </ion-footer>
        
    </ion-card>
  </ion-list>
  

</ion-content>