// .center {
//     text-align: center;
// }

// .icon-red {
//     color:red;
// }

// .icon-gray {
//     color: gray;
// }


.dashboard-body{   
    .dashboard-header{
        .dashboard-header-toolbar{
            display: flex;
            flex-direction: row;
            width:100%;
            background-color: #0e395d;
            box-shadow: 0 4px 8px 0  #000000, 0 6px 10px 0  #188dee ;
            color: white;
            align-items: center;
            padding: 1%;
        }
    }
    

    .dashboard-body-segment{
         background-color: #388dd2;
            ion-segment-button{
                color: white;
                --color-checked : white;
                --color-hover : white;
               // --background-checked: #2790ec;
            }
    }
    .search{
        background-color: #388dd2;
        color: black;
        width: 100%;
        padding: 15px;
    }
 
    .dashboard-body-all-survey-tab-parent{
        background-color: #388dd2;
        margin: 2%;
        ion-footer{
           z-index: 0;
        }
        .dashboard-body-all-survey-tab-desc{
            color: white;
            .title{
                font-size: 20px;
                color: white;
                font-weight: bold;
            }
        }
        .footer{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            width: 100%;
            padding: 0.2%;
            .footer-survey-common{
                margin-left: 10%;
                margin-right: 10%;
                .btn{
                    height: 36px;
                    width: 50.39px;
                    background-color: white;
                    border-radius: 5px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                }
                .heart{
                    color: rgb(0, 183, 255);
                    &.toggle{
                        color: red;
                    }
                }
                
            }

        }
    }
}