
 <div id="main-section">
    <div class="label">
        <ion-label class="label-data">{{label}}</ion-label>
      </div>
    <div><!--style="width: 100%;"-->
       <ion-grid>
           
            <div [style.border]="tableBorder" class="border" *ngFor="let gridQuestions of gridQuestions.response; let z = index">
                <ion-row  *ngFor="let question of gridQuestions.questions; let j = index" >
                   <ion-col> 
                     <div class="label">
                       <ion-label class="label-data">{{question.questionText}}<span  class="errorrequired" *ngIf="question.isQuestionRequired"> *</span></ion-label>
                     </div>
                    <div *ngIf="question.inputType === 'txa'">
                         
                        <app-input-text #Question1 name="{{ question.questionId }}" [label]="question.questionText"
                          [isGridComponent]="true"
                          [required]="question.isQuestionRequired" [placeholder]="question.options[0].value"
                          [(ngModel)]="question.defaultResponse" ngDefaultControl [triggerErrorDesc]="true" [errorMessage]="{}"
                          [question]="question"></app-input-text>
                      </div>
      
                      <div *ngIf="question.inputType === 'txb'">
                        <app-input-text #Question1 name="{{ question.questionId }}" [label]="question.questionText"
                          [isGridComponent]="true"
                          [required]="question.isQuestionRequired" [placeholder]="question.options[0].value"
                          [(ngModel)]="question.defaultResponse" [question]="question" ngDefaultControl [triggerErrorDesc]="true"
                          [errorMessage]="{}">
                        </app-input-text>
                      </div>
                      <div *ngIf="question.inputType === 'rdo'">
                        <app-input-radio name="{{ question.questionId }}" [label]="question.questionText"
                          [isGridComponent]="true"
                          [options]="question.options" [(ngModel)]="question.defaultResponse" ngDefaultControl
                          [required]="question.isQuestionRequired" (emitValue)="SetChoiceData(question, $event)"
                          [question]="question"></app-input-radio>
                      </div>
      
                      <div *ngIf="question.inputType === 'cmb'">
                        <app-input-dropdown name="{{ question.questionId }}" [label]="question.questionText"
                          [isGridComponent]="true"
                          [options]="question.options" [(ngModel)]="question.defaultResponse" ngDefaultControl
                          [required]="question.isQuestionRequired" [question]="question"
                          (emitValue)="SetChoiceData(question, $event)"></app-input-dropdown>
      
                      </div>
                      <div *ngIf="question.inputType === 'mul'">
                        <app-input-multiselectcheckbox name="{{ question.questionId }}" [label]="question.questionText"
                          [isGridComponent]="true"
                          [options]="question.options" [(ngModel)]="question.defaultResponse"
                          [required]="question.isQuestionRequired" ngDefaultControl (emitValue)="SetChoiceData(question, $event)"
                          [question]=question></app-input-multiselectcheckbox>
                      </div>
                      <div *ngIf="question.inputType === 'chk'">
                        <app-input-checkbox name="{{ question.questionId }}" [label]="question.questionText"
                          [options]="question.options" [(ngModel)]="question.defaultResponse"
                          [required]="question.isQuestionRequired" ngDefaultControl (emitValue)="SetChoiceData(question, $event)"
                          [question]=question></app-input-checkbox>
                      </div>
                      <div *ngIf="question.inputType === 'rating'">
                        <app-rating-view [isEditing]="false" (emitValue)="SetChoiceData(question, $event)" [questionIndex]="j+1"
                          [isGridComponent]="true"
                          [totalQuestion]="question.length" [question]="question" [tableBorder]="tableBorder"
                          [controlBGColor]="controlBGColor" [TextColor]="TextColor" [controlBorder]="controlBorder"
                          [foregroundcolor]="foregroundcolor" [theme]="theme"></app-rating-view>
      
                      </div>
      
                      <div *ngIf="question.inputType === 'dte'">
                        <app-input-date name="{{ question.questionId }}" [label]="question.questionText"
                          [isGridComponent]="true"
                          [options]="question.options" [(ngModel)]="question.defaultResponse"
                          [required]="question.isQuestionRequired" ngDefaultControl (emitValue)="SetChoiceData(question, $event)"
                          [question]=question></app-input-date>
                      </div>
                    </ion-col>
                    </ion-row>
                <ion-row>
                  <ion-col>
                    <button *ngIf="gridQuestions.sequenceNumber==maxSequenceNumber" type="button" [style.background-color] ="foregroundcolor" [style.color]="TextColor" class="custmbtnadd" (click)="addNewResponse(gridQuestions)"> ADD</button>
                    <button *ngIf="gridQuestions.sequenceNumber!=maxSequenceNumber" type="button" class="custmbtndelete" (click)="RemoveResponse(gridQuestions)">DELETE</button>  
                  </ion-col>
                  </ion-row>
              </div>
           
        </ion-grid>
 
   
        <!--
        <div *ngIf="question.inputType === 'sign'">
          <app-signature  
          [showName]=false 
          [question]=question [tableBorder]="tableBorder"
          [questionIndex]="j" 
          [totalQuestion]="gridQuestions.questions.length" 
          [question]=question [foregroundcolor]="foregroundcolor" [backgroundcolor] ="backgroundcolor" [controlBGColor]="controlBGColor" [controlBorder]="controlBorder" [theme]="theme">
          </app-signature>
                    
        </div>
      
    </div>
    </td>
    <td> 
        <fa-icon class="cp" (click)="addNewResponse(gridQuestions)" [icon]="icons.faPlus"></fa-icon>
        <fa-icon class="cp" (click)="RemoveResponse(gridQuestions)" [icon]="icons.faMinus"></fa-icon>  
       
    
    </td>
    </tr>    
    </table> -->
    </div>
  </div>
