.main-section{
  padding: 2%;
  border: 1px solid cyan;
  margin: 20px;
  border-radius: 10px;
  background-color: #388dd2;
}

.preview-list > ul
{
    padding-left: 6px;
}
.gridResponse > app-multiplechoice-input >div#question {
    display: none ! important;
  }
table, tr {
    //  border: 2px solid #2f9fb5;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  tr{
    height: 50px;;
  }
  th:first-child{
    border-top-left-radius: 10px;
  }
  th:last-child{
    border-top-right-radius: 10px;
  }
  
  .textboxdyncontrol,.dropdowncss
  {
position: inherit !important;
width: 100% !important;
  }

  .custmbtnadd
  {
    // width: 40px;
    // height: 40px;
    // border-radius: 50px;
    // font-size: 10px;
    // border:none;
    // cursor: pointer;
         border-radius: 5px;
         cursor: pointer;
         border: none;
         width: 60px;
         height: 35px;
         font-weight: bold;
         margin: 5px;
  }

  .custmbtndelete
  {
    //font-size: 30px;
    background-color: transparent !important;
    cursor: pointer;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    border-color: transparent !important;
    margin: 5px;
  }
  th,td{
      font-weight: normal;
  }
.header
{
    font-size: large;
    margin-left: -4%;
}  
.border{
  border: 2px solid #2f9fb5;
} 
.errorrequired {
  color: red;
  font-size: small;
}

